@import '../title/title.scss';
@import '../text/text.scss';
@import '../link/link.scss';
@import '../features/features.scss';

.block-2 {
    height: 797px;
    background: #F6F6F8;
    padding: 90px 0 0 0;
    &__content {}
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 80px;
        border: solid #E0E0E0;
        border-width: 0 0 1px 0;
    }
    &__inner {
        width: 489px;
        height: 295px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {}
    &__text {}
    &__link {}
    &__img {}
    &__features {
        display: flex;
        justify-content: space-around;
        margin-top: 60px;
    }

}