@import '../title/title.scss';
@import '../button/button.scss';
@import '../benefits/benefits.scss';

.block-3 {
    min-height: 972px;
    padding: 0 0 85px 0;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%) no-repeat;
    background-size: 100% 50%;
    &__content {
        padding: 100px 0 0 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;
        @media (min-width: 480px) and (max-width: 767px) {
            flex-direction: column;
        }
        @media (min-width: 320px) and (max-width: 479px) {
            flex-direction: column;
        }
    }
    &__title {
        width: 540px;
        @media (min-width: 480px) and (max-width: 767px) {
            width: 450px;
        }
        @media (min-width: 320px) and (max-width: 479px) {
            width: 310px;
        }
    }
    &__button {
        @media (min-width: 480px) and (max-width: 767px) {
            margin-top: 20px;
        }
        @media (min-width: 320px) and (max-width: 479px) {
            margin-top: 20px;
        }
    }
    &__benefits {
        margin: 70px 0 0 0;
        display: flex;
        justify-content: space-between;
        border: solid #E0E0E0;
        border-width: 0 0 1px 0;
        padding-bottom: 85px;
        flex-wrap: wrap;
        @media (min-width: 992px) and (max-width: 1199px) {
            padding: 0 10px;
            justify-content: center;
        }
        @media (min-width: 480px) and (max-width: 767px) {
            justify-content: center;
        }
        @media (min-width: 320px) and (max-width: 479px) {
            justify-content: center;
        }
    }
}