.title {
    &__h1 {
        font-size: 48px;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: 0em;
    }
    &__h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 53px;
        letter-spacing: 0em;
    }
    &__h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
    }
    @media (min-width: 480px) and (max-width: 767px) {
        &__h2 {
            font-size: 30px;
            line-height: 40px;
        }
    }
    @media (min-width: 320px) and (max-width: 479px) {
        &__h1 {
            font-size: 30px;
            line-height: 40px;
        }
        &__h2 {
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}