.email {
    display: flex;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    transition: all 1s ease;
    &__input input{
        width: 299px;
        height: 45px;
        border-radius: 30px 0 0 30px;
        border-width: 0;
    }
    input[type=email] {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #999999;
        padding: 0 0 0 33px;
    }
    &__button button {
        width: 190px;
        height: 45px;
        border-radius: 0 30px 30px 0;
        border-width: 0;

        background: #4985FF;
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    &__button button:hover, button:focus {
        cursor: pointer;
    }
}
.email:hover, .email:focus {
    transition: all 1s ease;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.50);
}