form.email(action="", method="post") 
    .email__input 
        input#email(type="email", name="email", placeholder="Ваш e-mail", required)
    .email__button
        button(type="submit") Подписаться