@import '../nav/nav.scss';
@import '../title/title.scss';
@import '../button/button.scss';

.header{
    width: 1920px;
    height: 900px;
    background: url('../../images/header-background.png') no-repeat;
    margin: 0 auto;
    &__content {
        
    }
    &__inner {
        padding-bottom: 40px;
        border: solid #A1A1A1;
        border-width: 0 0 1px 0;
        display: flex;
        justify-content: flex-end;
    }
    &__nav {
        width: 563px;
        margin: 40px 400px 0 0;
    }
    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 219px;
    }
    &__text {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
    }
    &__title {
        margin-top: 20px;
        width: 829px;
        text-align: center;
    }
    &__button {
        margin-top: 40px;
    }
}