include ../nav/nav.pug

.header
    .header__inner
        .header__nav
            +nav({
                'Главная': '#',
                'Наши проекты': '#',
                'Услуги': '#',
                'Новости': '#',
                'Контакты': '#',
            })