head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href=require('./style.scss') rel='stylesheet')
  link(href=('https://fonts.googleapis.com') rel="preconnect")
  link(href=('https://fonts.gstatic.com') rel="preconnect" crossorigin)
  link(href=('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap') rel='stylesheet')
  title Document
.wrapper
  include ./components/header/header.pug 
  main
    include ./components/block-1/block-1.pug 
    include ./components/block-2/block-2.pug
    include ./components/block-3/block-3.pug
    include ./components/block-4/block-4.pug
    include ./components/block-5/block-5.pug
  footer
script(src=require('./index.js') defer='defer')
