@import './components/header/header.scss';
@import './components/block-1/block-1.scss';
@import './components/block-2/block-2.scss';
@import './components/block-3/block-3.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

body {
    font-family: Montserrat, sans-serif;
}

._container {
    max-width: 1110px;
    margin: 0 auto;
}
