.nav {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    list-style: none;
    display: flex;
    justify-content: space-between  ;
    &__item {}
    &__link{
        color: #FFFFFF;
        text-decoration: none;
    }
    &__link:hover {
        padding-bottom: 39px;
        border: solid #FFFFFF; 
        border-width: 0 0 2px 0;
    }
}