@import '../title/title.scss';
@import '../text/text.scss';
@import '../link/link.scss';

.benefits {
    width: 350px;
    height: 544px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    @media (min-width: 320px) and (max-width: 479px) {
        width: 310px;
    }
    &__img img {
        @media (min-width: 320px) and (max-width: 479px) {
            width: 310px;
        }
    }
    &__title {
        display: flex;
        p {
            color: #4985FF;
            font-weight: 600;
            font-size: 18px;
        }
    }
    &__text {}
    &__link {}
}